$black-text: #253039;
$black: #253039;
$blue: #82D1DF;
$blue-dark: #395A80;
$blue-medium: #D3ECFA;
$blue-light: #EDF7FD;
$blue-sky: #2D9EE0;
$gray-background: #F3F3F3;
$gray-dark-text: #555459;
$gray-gradient-dark: #CFD1D3;
$gray-gradient-light: #E3E4E5;
$gray-light-text: #70787D;
$gray-light: #E8E8E8;
$gray: #9ea0a7;
$green: #2AB27B;
$green-light: #4C9689;
$pink: #eb81ab;
$purple: #A26ECA;
$purple-darkest: #3E313C;
$purple-dark: #4D394B;
$purple-light-scrollbar: #AB9BA9;
$purple-light-text: #AB9BA9;
$purple-dark-scrollbar: #3E313C;
$white: #FFFFFF;
