$black: #253039;
$gray-background: #F3F3F3;
$gray: #9ea0a7;
$white: #FFFFFF;
$green: #2AB27B;
$pink: #eb81ab;
$black-text: #253039;
$gray-gradient-dark: #CFD1D3;
$gray-gradient-light: #E3E4E5;
$gray-dark-text: #555459;
$gray-light-text: #70787D;
