.messages-container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  background: $purple-dark;
  padding: 10px;
  color: $gray-light-text;
  width: 250px;

  .user-info {

    li {
      padding: 3px 0;
    }

    .name {
      color: $white;
      font-size: 1.3em;
    }

    button {
      border: none;
      padding: 0;

    }

    button:hover {
      color: $green;
    }
  }
}

.home-container {
  background: $blue;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.forum-header {
  background: $white;
}

.forum-body {
  display: flex;
  justify-content: space-between;
}

.forum-detail {
  background: $gray;
  height: 100vh;
}
