.sidebar-body::-webkit-scrollbar {
  width: 0.5em;
  background-color: $purple-dark-scrollbar;
}

.sidebar-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.sidebar-body::-webkit-scrollbar-thumb {
  background-color: $purple-light-scrollbar;
}

.sidebar-body {
  background: $purple-dark;
  padding: 0 20px;
  margin-bottom: 20px;
}

.sidebar-filler {
  /* margin-top: 75px; */
}

.sidebar-container {
  background: $purple-dark;
  box-sizing: border-box;
  color: $purple-light-text;
  min-width: 220px;
  font-weight: 100;
  position: relative;

  h2 {
    text-transform: uppercase;
    font-size: .8em;
    padding-bottom: 5px;
    font-weight: bold;

    &:hover {
      color: $white;
    }
  }


  li {
    padding: 0 8px 2px 5px;
  }
}

.direct-messages-list,
.channels-list {

  ul {
    padding-bottom: 10px;
  }

  li {
    border-radius: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: $green-light;
      color: $white;
    }
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: $white;
  position: relative;
}

.message-container {
  padding: 20px;
}
