.header {
  font-family: $sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  ul {
    display: flex;
    align-items: center;
  }

  .brand {
    color: $black;
    font-size: 2em;
    font-weight: bold;

    li {
      margin: 0 5px;
    }

  }

  .nav {
    color: $gray-dark-text;
    font-weight: bold;

    li {
      margin: 0 10px;
    }
  }

}

.splash-header {
  background: $gray-background;
}

.auth-header {
  background: white;
  border-bottom: $border;
}

